# File types
*.csv
*.log
*.err
*.jpg
*.png
*.pt
chk*

# Model checkpoint files
elion/generators/release/checkpoints/
elion/generators/release/data/
elion/properties/activity/CHEMBERT/model/

# Directories
.vscode/
.ipynb_checkpoints/
__pycache__/
chk/
trash/

# Test dir
tests
tests/
tests/**

# Systems dir is too heavy
systems
systems/
systems/**



src/elion.egg-info/dependency_links.txt
src/elion.egg-info/entry_points.txt
src/elion.egg-info/PKG-INFO
src/elion.egg-info/SOURCES.txt
src/elion.egg-info/top_level.txt
