# File types
*.csv
*.log
*.err
*.jpg
*.png
*.pt
*.pdbqt
*.pyc
chk*

# Model checkpoint files
elion/generators/release/checkpoints/
elion/generators/release/data/
elion/properties/activity/CHEMBERT/model/

# Directories
.vscode/
.ipynb_checkpoints/
__pycache__/
chk/
trash/

# Test dir
tests
tests/
tests/**
src/vina/iag933

# Systems dir is too heavy
systems
systems/
systems/**

# Files created by installation
src/elion.egg-info/dependency_links.txt
src/elion.egg-info/entry_points.txt
src/elion.egg-info/PKG-INFO
src/elion.egg-info/SOURCES.txt
src/elion.egg-info/top_level.txt

# User data
src/vina/docking_score/
src/elion/properties/deepatom/data/
src/elion/generators/TS/data/

# HPG local scripts
src/vina/internal_utils/

# temp
src/TS/
src/visualizer/vina/